*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
  
  form {
    max-width: 500px;
    background: #f4f7f8;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding-left: 1px;
    margin: auto;
  }
  
  textarea{
      min-height: 50px;
      max-height: 200px;
      margin-bottom: 5px; 
      margin-top: 15px;
  }
    
  button {
    padding: 19px 39px 18px 39px;
    font-size: 18px;
    font-style: normal;
    border-radius: 5px;
    background-color: #3ac162;
    border: none;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    width: 49%;
    margin: 15px;
  }

  button:hover{
    background-color: #48a564;
}


  div {
    margin-bottom: 1px;
    text-align: center;
  }

  .subtitle {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
  }

.divbuttom {
  text-align: center;
  margin-right: 1px;
  border: 1px solid grey;
}

h5 {
  text-align: center;
}

  @media screen and (min-width: 500px) {
  
    form {
      max-width: 500px;
    }
  
  }